<configuration>  
  <system.webServer>
    <handlers>
        <add name="Python FastCGI"
            path="*"
            verb="*"
            modules="FastCgiModule"
            scriptProcessor="c:\program files\python39\python.exe"|"c:\program files\python39\lib\site-packages\wfastcgi.py"
            resourceType="Unspecified"
            requireAccess="Script" />
    </handlers>
  </system.webServer>
  <appSettings>
    <add key="WSGI_HANDLER" value="bento4_web.app" /> <!-- {name_of_file}.{name_of_flask_app}-->
    <add key="PYTHONPATH" value="C:\inetpub\wwwroot\bento4_flask" />
    <add key="WSGI_LOG" value="C:\inetpub\wwwroot\bento4_flask\bento4_web.log" />
  </appSettings>
</configuration>  
