{% extends "base.html" %}
{% block title %}Bento4 Online{% endblock %}
{% block subtitle %}Configuration page{% endblock %}
{% block body %}
<div class="container col-md-8">
  <form id= 'form1' action = '/config' method = "post">
    <ul class="list-group">
        <li class="list-group-item">
            <select id="mySelect1" name = "media_type" style="width: 23%">
              <option value="default">Select type</option>
              <option value="video">Video</option>
              <option value="audio">Audio</option>
            </select>
            <select id="mySelect2" name = "media_codec" style="width: 23%">
              <option value="default">Select codec</option>
            </select>
            <select id="mySelect3" name = "media_framerate" style="width: 23%">
              <option value="default">Select framerate</option>
            </select>
            <select id="mySelect4" name = "media_file" style="width: 23%">
              <option value="default">Select file</option>
            </select>
            <span class="add"><b>+</b></span>
            <!-- <input type = "submit" class="btn btn-primary col-md-2" name='action' value = "Add" style="padding: 2px; width: 22%" /> -->
        </li>
        <li class="list-group-item">
            <div>
                <ul class="list-group" id="selected_tracks_table">
                    <p><b>Selected tracks:</b></p>
                    <table>
                      <tr>
                        <td style="padding: 5px; background-color:#DB3A34; color: white; text-align: center;">Type</td>
                        <td style="padding: 5px; background-color:#FFC857; color: white; text-align: center;">Codec</td>
                        <td style="padding: 5px; background-color:#084C61; color: white; text-align: center;">Framerate</td>
                        <td style="padding: 5px; background-color:#177E89; color: white; text-align: center;">Filename</td>
                      </tr>
                    </table>
                    <ul class="list-group" id="selected_tracks">
                    </ul>
                </ul>
            </div>
        </li>
        <li class="list-group-item">
            <input type = "submit" class="btn btn-primary" name='action' value = "Reset" style="width: 49%" />
            <input type = "submit" class="btn btn-primary" name='action' value = "Submit" style="width: 50%" />
        </li>
    </ul>
  </form>
  <script>
    var myvar = JSON.parse('{{media_tracks | tojson}}');
    /* Get all elements with class="add" */
    var addbtns = document.getElementsByClassName("add");
    var closebtns;
    addbtns[0].addEventListener("click", function() {
        var new_file = document.getElementById("mySelect4");
        if (new_file.value == 'Defalut') {
          alert('Please select a file');
          return;
        }
        var cur_selected_tracks = document.getElementById("selected_tracks");
        var new_item = document.createElement('li');

        var new_track = document.createElement('input');
        new_track.setAttribute("type", "checkbox");
        // new_track.setAttribute("class", "list-group-item");
        new_track.setAttribute("name", "selected_track");
        new_track.setAttribute("value", new_file.value);
        new_track.setAttribute("checked", "check");
        //new_track.innerHTML = new_file.value;

        var new_label = document.createElement('label');
        new_label.setAttribute("for", new_file.value);
        // new_label.innerHTML = new_file.value;

        new_label.innerHTML = "<span style='background-color:#DB3A34; color: white; border-radius: 15px; padding: 5px'>" + document.getElementById("mySelect1").value + "</span><span style='background-color:#FFC857; color: white; border-radius: 15px; padding: 5px'>" + document.getElementById("mySelect2").value + "</span><span style='background-color:#084C61; color: white;  border-radius: 15px; padding: 5px'> " + document.getElementById("mySelect3").value + "</span><span style='background-color:#177E89; color: white; border-radius: 15px; padding: 5px'>" + document.getElementById("mySelect4").value + "</span>";

        var new_span = document.createElement('span');
        new_span.setAttribute("class", "close");
        new_span.innerHTML = 'x';

        new_item.appendChild(new_track);
        new_item.appendChild(new_span);
        new_item.appendChild(new_label);
        cur_selected_tracks.appendChild(new_item);


        // new_item.addEventListener("click", function() {
        //     this.parentElement.remove();
        // })

        /* Get all elements with class="close" */
        closebtns = document.getElementsByClassName("close");
        var i;
        /* Loop through the elements, and hide the parent, when clicked on */
        for (i = 0; i < closebtns.length; i++) {
          closebtns[i].addEventListener("click", function() {
            // this.parentElement.style.display = 'none';
            this.parentElement.remove();
          });
        }

        // document.getElementById("mySelect1").value = 'defalut';
        // document.getElementById("mySelect2").value = 'defalut';
        // document.getElementById("mySelect3").value = 'defalut';
        // document.getElementById("mySelect4").value = 'defalut';

        var reset_type = document.getElementById("mySelect1");
        var reset_codec = document.getElementById("mySelect2");
        var reset_framerate = document.getElementById("mySelect3");
        var reset_file = document.getElementById("mySelect4");

        reset_type.value = 'default';
        reset_codec.innerHTML = '<option value="default">Select codec</option>';
        reset_framerate.innerHTML = '<option value="default">Select framerate</option>';
        reset_file.innerHTML = '<option value="default">Select file</option>';

    });
    let type_select = document.getElementById('mySelect1');
    let codec_select = document.getElementById('mySelect2');
    let framerate_select = document.getElementById('mySelect3');
    let file_select = document.getElementById('mySelect4');
    let type = ''
    let codec = ''
    keys = []
    type_select.onchange = function() {
      type = type_select.value;
      let optionHTML = '<option value="Defalut">Select codec</option>';
      var codec_list = Object.keys(myvar[type]);
      for (let i = 0; i < codec_list.length; i++) {
        optionHTML += ('<option value=' + codec_list[i] + '>' + codec_list[i] + '</option>');
      }
      codec_select.innerHTML = optionHTML;
    };
    codec_select.onchange = function() {
      type = type_select.value;
      codec = codec_select.value;
      let optionHTML = '<option value="Defalut">Select framerate</option>';
      var framerate_list = Object.keys(myvar[type][codec]);
      console.log(framerate_list);
      for (let i = 0; i < framerate_list.length; i ++) {
        optionHTML += '<option value=' + framerate_list[i] + '>' + framerate_list[i] + '</option>';
      }
      framerate_select.innerHTML = optionHTML;
    };
    framerate_select.onchange = function() {
      type = type_select.value;
      codec = codec_select.value;
      framerate = framerate_select.value;
      console.log(framerate);
      file = file_select.value;
      let optionHTML = '<option value="Defalut">Select file</option>';
      var file_list = Object.keys(myvar[type][codec][framerate]);
      console.log(file_list);
      for (let i = 0; i < file_list.length; i ++) {
        optionHTML += ('<option value=' + myvar[type][codec][framerate][i] + '>' + myvar[type][codec][framerate][i] + '</option>');
      }
      file_select.innerHTML = optionHTML;
    };
  </script>
</div>
{% endblock %}
