{% extends "base.html" %}
{% block title %}Bento4 Online{% endblock %}
{% block subtitle %}Download results{% endblock %}
{% block body %}
<ul class="list-group">
    <li class="list-group-item">
        <h3>DASH-VOD manifest</h3>
        <div class="container" align="left">
            <a href="/return-manifest-vod/" target="blank"><button class='btn btn-primary'>Download DASH-VOD</button></a>
        </div>
        <pre>{{ vod_content }}</pre>
    </li>
    <br>
    <li class="list-group-item">
        <h3>DASH-LIVE manifest</h3>
        <div class="container" align="left">
            <a href="/return-manifest-live/" target="blank"><button class='btn btn-primary'>Download DASH-LIVE</button></a>
        </div>
        <pre>{{ live_content}}</pre>
    </li>
</ul>
{% endblock %}