{% extends "base.html" %}
{% block title %}Bento4 Online{% endblock %}
{% block subtitle %}Download results{% endblock %}
{% block body %}
<ul class="list-group">
    <ul class="list-group">
        <li class="list-group-item">
            <div class="col-md-3" align="left">
                <h3>DASH-VOD manifest</h3>
            </div>
            <div class="container" align="right">
                <a href="/return-manifest-vod/" target="blank"><button class='btn btn-primary'>Download DASH-VOD</button></a>
            </div>
        </li>
        <li>
            <pre><code class="xml">{{ vod_content }}</code></pre>
        </li>
    </ul>
    <br>
    <ul>
        <li class="list-group-item">
            <div class="col-md-3" align="left">
                <h3>DASH-LIVE manifest</h3>
            </div>
            <div class="container" align="right">
                <a href="/return-manifest-live/" target="blank"><button class='btn btn-primary'>Download DASH-LIVE</button></a>
            </div>
        </li>
        <li>
            <pre><code class="xml">{{ live_content}}</code></pre>
        </li>
    </ul>
</ul>
{% endblock %}