<!DOCTYPE html>
<html>
<head>
    <title>Download Results</title>
</head>
<body>
    <header class="jumbotron" style="background: #161819 none;color: #ffffff">
        <div class="container">
            <div class="row">
                <div class="col-md-10">
                    <h2 id="top-title">Dolby Web Manifest Generator</h2>
                    <h3>
                        <sup >Download results</sup>
                    </h3>
                </div>
            </div>
        </div>
    </header>
    <br>
    <p>DASH-VOD manifest</p>
    <pre>{{ vod_content }}</pre>
   <div class="container" align="left" style="margin-left:100px;">
        <a href="/return-manifest-vod/" target="blank"><button class='btn btn-default'>Download DASH-VOD</button></a>
   </div>
   <br>
   <p>DASH-LIVE manifest</p>
   <pre>{{ live_content}}</pre>
   <div class="container" align="left" style="margin-left:100px;">
        <a href="/return-manifest-live/" target="blank"><button class='btn btn-default'>Download DASH-LIVE</button></a>
   </div>

</body>
</html>